<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Envoyer un Email</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="container">
        <h1>Envoyer un Email</h1>
        <form action="/envoyer_email/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="destinataires">Destinataires (To) :</label>
            <input type="text" id="destinataires" name="destinataires" required>

            <label for="cc">Cc :</label>
            <input type="text" id="cc" name="cc">

            <label for="bcc">Bcc :</label>
            <input type="text" id="bcc" name="bcc">

            <label for="titre">Titre du mail :</label>
            <input type="text" id="titre" name="titre" required>

            <label for="contenu">Contenu du mail :</label>
            <textarea id="contenu" name="contenu" rows="10" required></textarea>

            <label for="nom">Votre NOM :</label>
            <input type="text" id="nom" name="nom" required>

            <label for="prenom">Votre PRÉNOM :</label>
            <input type="text" id="prenom" name="prenom" required>

            <label for="pieceJointe">Pièce jointe (optionnel) :</label>
            <input type="file" id="pieceJointe" name="pieceJointe">

            <button type="submit">Envoyer l'Email</button>
        </form>
    </div>
</body>

</html>