<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>CACS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="margin: 0; padding: 0">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr style="padding: 20px 0 30px 0">
            <td>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="600"
                    style="border: 1px solid #151b8d; border-collapse: collapse">
                    <tr>
                        <td align="center" style="padding: 40px 0 30px 0">
                            <img src="https://i.imgur.com/NcxtHew.png" alt="CACS" width="450"
                                style="display: block; transform: scale(0.8);" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center" style="
                  padding: 0 30px 0 30px;
                  color: #151b8d;
                  font-family: Arial, sans-serif;
                  font-size: xx-large;
                ">
                            <b>{{titre_mail}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 40px 30px 0 30px">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="
    padding: 20px 0 5px 0;
    color: #151b8d;
    font-family: 'Helvetica', serif;
    font-size: large;
    line-height: 1.6;
" align="justify">
                                        {{contenu_mail}}<br><br>
                                    </td>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="
                              padding: 20px 30px 10px 30px;
                              color: #151b8d;
                              font-family: Helvetica, sans-serif;
                              font-size: medium;
                            ">
                                                    <b>{{nom_prenom}}</b> <br>
                                                    {{poste}} du CACS ✈ <br>
                                                    {{numero}} <br>
                                                    <em>{{email_auteur}}</em>

                                                </td>
                                            </tr>

                                        </table>
                                    </td>

                                    <td style="padding: 0 5px 0 0; vertical-align: bottom;">
                                        <img src="https://i.imgur.com/EPF00Sk.jpeg" alt="" width="300"
                                            style="display: block; margin-bottom: -10px;" border="0" align="right" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#6698FF" style="padding: 30px 30px 30px 30px">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td align="center">
                                        <a href="https://www.linkedin.com/company/cercle-aeronautique-centralesupelec">
                                            <img src="https://i.imgur.com/PJ0D0E2.png" alt="linkedin" width="30"
                                                height="30" style="display: block" border="0" />
                                        </a>
                                    </td>
                                    <td align="center">
                                        <a href="https://www.instagram.com/cacs_centralesupelec/">
                                            <img src="https://i.imgur.com/JTzIS0h.png" alt="instagram" width="30"
                                                height="30" style="display: block" border="0" />
                                        </a>
                                    </td>
                                    <td align="center">
                                        <a href="https://cacs.cs-campus.fr">
                                            <img src="https://i.imgur.com/0Hvs45T.png" alt="website" width="30"
                                                height="30" style="display: block" border="0" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <p style="text-align: center; color: #151b8d; font-family: Arial, sans-serif; font-size: medium;">
        🌱 <i>Pensez à supprimer cet email pour réduire les émissions.</i>
    </p>
</body>

</html>